*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html{
  height: 100vh;
}

body{
  margin: 0;
  color: #2B283A;
  height: 100%;
}

/* HEADER */

.header-container{
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}

.header-container > img {
  width: 24px;
  height: 24px;
  
}

.header-container > h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.075em;
  margin-left: 8px;

  color: #FFFFFF;
}

/* MAIN */ 

.main-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 100vw;
  height: 100%;

}


.travel-container{
  width: 86%;
  height: 26%;
  
}


.text-container{
  display: inline-block;
  max-width: 320px;
  padding: 10px;
  margin: 36px;
}


.place{
  border-radius: 5px;
  width: 26%;
  height: 200px;
  object-fit: cover;

}

.location-container{
  display: flex;
  align-items: center;
}

.location{
  padding-left: 4px;
  padding-right: 12px;
}

.googleUrl{
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #918E9B;
}

.title{
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #2B283A;
}

.start-end{
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #2B283A;
}

.description{
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #2B283A;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  
}